nav{
    height:150px;
    width: 100%;
    position: relative;
    background: white;
}

nav img{
    display: inline;
    height:150px;
}

nav ul{
    position: absolute;
    right: 50px;
    top: 25%;
}

nav ul li{
    display: inline;
    padding: 8px;
    padding-right:20px;
    font-size: 130%;
}